
<div class="fixed-bot">
	<div class="pannel">
		<audio id="audio"></audio>
		<div class="display">
			<div class="picLoading">
				<img src="images/balls.gif"/>
			</div>
			<div class="pic">
				<img src="images/.jpg" alt="" />
			</div>
			<div class="text">
				<h3></h3>
				<p></p>
			</div>
		</div>
		<div class="grow"></div>
		<div class="control">
			<div class="play-list"></div>
			<div class="playSong"></div>
			<div class="next"></div>
		</div>
	</div>
	<div class="progress-bar">
		<div class="progress-inner"></div>
	</div>
	<div class="myPlayList">
		<ul></ul>
	</div>
	<div class="myPlayListTemplate" style="display: none;">
	<li class="myListItem">
		<div class="song"></div>
		<div class="singer"></div>
		<div class="delete">X</div>
	</li>
</div>
</div>