<div class="banner">
	<ul>
		<li class="pic"><img src="images/banner1.jpg" alt="banner1" /></li>
		<li class="pic"><img src="images/banner2.jpg" alt="banner2" /></li>
		<li class="pic"><img src="images/banner3.jpg" alt="banner3" /></li>
		<li class="pic"><img src="images/banner4.jpg" alt="banner4" /></li>
	</ul>
	<div class="icon-wrap"></div>
</div>
<article class="container-fluid list">
	<div class="title">
		<div class="title-left">
			<div class="sign"><img src="images/aei.png" />推荐歌单</div>
		</div>
		<div class="title-right">
			<a href="javascript:;">更多></a>
		</div>
	</div>
	<div class="content row">
		
	</div>
</article>

		<div class="template-item" style="display: none;">
			<div class="item">
				<div class="pic"><img src="images/109951162858640414.jpg" alt="" /></div>
				<p></p>
				<div class="number"></div>
			</div>
		</div>

<article class="container-fluid mv">
	<div class="title">
		<div class="title-left">
			<div class="sign"><img src="images/aee.png" />推荐MV</div>
		</div>
		<div class="title-right">
			<a href="javascript:;">更多></a>
		</div>
	</div>
	<ul class="row">
		<li class="col-xs-6">
			<div class="pic"><img src="images/18685100604133296.jpg" alt="" /></div>
			<p>撒旦个省份干撒更广泛的喝热水</p>
			<div class="number"><span>27万</span></div>
		</li>
		<li class="col-xs-6">
			<div class="pic"><img src="images/18685100604133296.jpg" alt="" /></div>
			<p>撒旦个省份干撒更广泛的喝热水</p>
			<div class="number"><span>27万</span></div>
		</li>
		<li class="col-xs-6">
			<div class="pic"><img src="images/18643319162278619.jpg" alt="" /></div>
			<p>撒旦个省份干撒更广泛的喝热水</p>
			<div class="number"><span>27万</span></div>
		</li>
		<li class="col-xs-6">
			<div class="pic"><img src="images/18643319162278619.jpg" alt="" /></div>
			<p>撒旦个省份干撒更广泛的喝热水</p>
			<div class="number"><span>27万</span></div>
		</li>
	</ul>
</article>