<div class="head">
	<a href="javascript:;" class="back fa fa-arrow-left"></a>
	<div class="title">首页</div>
</div>
<div class="playlist-info">
	<div class="cover">
		<img src="images/default_cover.png" alt="cover" />
	</div>
	<div class="info-title">歌单标题</div>
	<div class="author">作者</div>
</div>
<div class="playlist">
	<div class="playall">播放全部</div>
	<div class="list">
		<ol></ol>
	</div>
</div>
<div class="playlistTemplate" style="display: none;">
	<li class="listItem">
		<div class="song"></div>
		<div class="singer"></div>
	</li>
</div>

